{% load static bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% block additional_css %}
    {% endblock %}

    {% bootstrap_javascript jquery='True' %}

    <title>{% block title %}{% endblock %}</title>
    <style>
      .content {
        margin-top: 5rem;
      }
      .slogan {
        color:#051951;
        font-style: italic;
      }
      .error-msg {
        border: 1px solid gray;
        max-width: 10rem;
        max-height: 4rem;
        overflow-y: scroll;
        font-size: smaller;
      }
      .uuid-table {
        font-size: smaller;
        max-width: 20rem;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% include 'app_base/navbar_content.html' %}
        </ul>
        <ul class="navbar-nav ml-auto" id="login-buttons">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" title="token" href="{% url 'token' %}">API token</a>
          </li>
          {% endif %}
          <li class="nav-item">
            {% if user.first_name or user.last_name %}
            <a class="nav-link" href="">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</a>
            {% else %}
            <a class="nav-link" href="">{{ user.username }}</a>
            {% endif %}
          </li>
          <li>
            <a class="btn btn-outline-success" title="logout" href="{% url 'oidc_logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-success" title="logout" href="{% url 'oidc_authentication_init' %}">Login</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% bootstrap_messages %}
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

    </main>

  {% block javascript %}
  {% endblock %}
  {% block extra_javascript %}
  {% endblock %}
  </body>
</html>
