{% load bootstrap4 %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
{% if user.is_staff %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'job-page' %}">Jobs</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'upload-page' %}">Uploads</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'metrics-page' %}">Metrics</a>
</li>
{% endif %}
{% if user.is_superuser %}
<li class="nav-item">
  <a class="nav-link" href="/flower/tasks" target="_blank">Tasks</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'user-list-page' %}">Users</a>
</li>
{% endif %}
