{% extends 'app_base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row align-items-end">
    <div class="col-lg-5">
      <img src="{% static 'images/Muses_Full_Color_banner.png' %}" style="max-height: 150px;" />
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-lg-5">
      <h4 class="slogan">
        Calculation Engine // Alpha Release
      </h4>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-lg-12">
      <div class="pb-3">
        <a href="https://musesframework.io/docs/" target="_blank" role="button" class="btn btn-primary">
          Read the docs <i class="bi bi-book-half"></i><i class="bi bi-book-half"></i>
        </a>
      </div>
      <p>
        Welcome to the MUSES Calculation Engine!
      </p>
    </div>
  </div>
</div>

{% endblock %}
