{% extends 'app_base/base.html' %}
{% block content %}
  <h1>Jobs</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time Created</th>
          <th>UUID</th>
          <th>Status</th>
          <th>Saved</th>
          <th>Public</th>
          <th>Error</th>
          {% if user.is_superuser %}
          <th>Owner</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if job_list %}
        {% for this_job in job_list %}
        <tr>
          <td>{{ this_job.name }}</td>
          <td>{{ this_job.created }}</td>
          <td class="uuid-table"><code>{{ this_job.uuid }}</code></td>
          <td>{{ this_job.status }}</td>
          <td>{{ this_job.saved }}</td>
          <td>{{ this_job.public }}</td>
          {% if this_job.error_info %}
          <td>
            <div class="error-msg"><code>{{ this_job.error_info }}</code></div>
          </td>
          {% else %}
          <td></td>
          {% endif %}
          {% if user.is_superuser %}
          <td>{{ this_job.owner }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  </table>

{% endblock %}
